body{
  text-align: center;
  margin:0;
  


}

.top{
  background-color: black;
  color: white;
font-family: 'Courgette', cursive;


}
.moon{
  width:300px;
  height:300px;
  margin:30px auto;
  position: relative;
  left: 90px;
}
.adnan{
  font-family: 'Gaegu', cursive;
  font-weight: 300;
  margin:20px auto;
  font-size: 100px;
}


.this{
  margin-top: 20px;
  position: relative;
  top:30px;
}

.cloud1{
  height:100px;
  width:100px;
position: absolute;
left:100px;


}
.cloud2{

  height:100px;
  width:100px;
position: relative;
right:600px;
}
.cloud3{
  height:100px;
  width:100px;
position: absolute;
right:300px;
}

.hand{
  height: 200px;
  width:200px;
  position: relative;
  left:300px;


}
.mid{
  background-color: black;

}
.adnanpic{
  margin: 35px auto;
  height:200px;
  width:200px;
  border-radius: 100%;
}
p{
  font-family: 'Courgette', cursive;
  font-weight: bolder;
  font-size: 200%;

}

h1{
  font-family: 'Muli', sans-serif;
}


.asdes{
  color: white;
}


hr{
  border:1px dotted white;
  border-bottom: none;
  border-width: 10px;
  width:10%;
  margin: 100px auto;
  padding-top: 20px;
  border-left: none;
  border-right: none;
}

.loc{
  background-color: black;
}

.head1{
  color:gold;
  font-family: 'Montserrat', sans-serif;
}
.description{
  font-family: 'Muli', sans-serif;
  color:#C0C0C0;
}
.map{
  float: left;
  height: 200px;
  width: 200px;
  margin-left: 150px;
}
.birthdetails{
  margin-right: 200px;
}


/* school section */
.boy{
  float: right;
  margin-right: 30px;

}
.star1,.star2{
  height: 100px;
  width: 100px;
}

.school{
  float: right;
  height: 200px;
  width:200px;
  margin-right: 150px;

}
.star1,.star2{
  float:left;
  margin-left: 30px;
}

.star2{
  display: none;
}
/*hobbies section*/
.smiley{
  float: left;
  height:200px;
  width:200px;
  margin-left: 150px;
}
.rocket{
  height: 130px;
  width:130px;
  float: right;
  margin-right: 30px;
}

/*about me section */
.boy2{
  float: right;
  height: 200px;
  width:200px;
  margin-right: 150px;
}
 .star3{
   height: 100px;
   width:100px;
   float:left;
   margin-left: 30px;
 }
/*  quote section*/
.hand2{
  float:left;
  height: 200px;
  width: 200px;
  margin-left: 150px;
  }
  .mg{
    height:110px;
    width: 110px;
    float:right;
    margin-right: 30px;
  }

  .myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:50px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}


.footer{
  background-color: black;

}

.insta{
  height: 70px;
  width:70px;
  position: relative;
  right:300px;
}
.fb{
  height: 70px;
  width:70px;
  position:relative;
  left:300px;
}

.bottom{
  background-color: black;
  height: 50px;

}
