#title{
  background-color: #ff4c68;

}

#tindog{
  color:white;
  font-family: "Montserrat",sans-serif;
}

.container{

  padding: 0px 40px 50px;

}

h1{
  font-family: "Montserrat-Black",sans-serif;
  font-size: 7rem;
  line-height: 1.5;
  font-weight:600;
  padding-top: 40px;
  color: white;

}
body{
  font-family:"Montserrat";
}
.nav-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0px 18px;
}
  .nav-link{
    font-size: 1rem;
    font-family: "Montserrat-light",sans-serif;
  }
  .download-button{
    margin: 5% 3% 5% 0;
  }

  .title-image{
    width:45%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0
  }
#features{
  padding: 7% 15%;
  position: relative;
  z-index: 2;
  background-color:#fff;
}

.feature-box{
  padding:5%;
  text-align: center;
}

h3{

}

p{
  color: grey;
}

.icon{
  color: #ff4c68;
  font-size: 50px;
  margin: 20px 0px;
}

#testimonials{
  padding: 7% 15%;
  text-align:center;
  background-color: #ef8172;
  color: white;
}

h2{
  font-family: "Montserrat-bold" ,sans-serif;
  font-size: 5rem;
  line-height: 1.5rem;
  font-weight:900;

}

.testimonial-img{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  padding: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 5%;
}

.carousel-control-prev-icon{
  margin-right: 60px;
}


.carousel-control-next-icon{
  margin-left: : 60px;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;

}

.navbar{
  position: fixed;
}

@media(max-width:992px)  {
#title{
  text-align: center;
}

.title-image{
  transform: rotate(0);
  position: static;
}


}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 50px
}


.ct{
  font-size: 40px;
  color: white;
}
.fb{
margin: 30px;
}
#footer{
  padding: 20px;
  text-align: center
}
